@import "../constants";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  color: $white;
  padding: 16px;
  height: 72px;
}

.header-logo {
  cursor: pointer;
  padding: 8px;

  svg {
    font-size: 24px;
  }

  .project-name {
    font-size: 24px;
    line-height: 1;
    margin-left: 16px;
  }
}

.header-settings {
  cursor: pointer;
  padding: 8px;
}