/* Bootstrap constants */
$white: #fff;
$black: #000;
$dark-grey: #666;
$primary: #1e90ff;
$background: #ccc;
$success: #16a816;
$warning: #e69508;
$error: #c51818;
$border-color: #ccc;
$grid-gutter-width: 20px;
$font-size: 16px;
$font-normal: 300;
$font-bold: 600;
$primary-bg: #d1e8ff;
$primary-border-color: #84c2ff;